
          <div class="news">
            <h3>News</h3>
            {% if site.news != blank -%}
            {%- assign news = site.news | reverse -%}
            {%- assign news_count = news | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                {% for item in news limit: site.news_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
                {% endfor %}
                {%- if news_count > site.news_limit -%}
                {%- assign news_offset = site.news_limit -%}
                {% for item in news offset: news_offset %}
                <tr class="news-extra-row">
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
                {% endfor %}
                {%- endif %}
              </table>
            </div>
            {%- if news_count > site.news_limit -%}
            <a class="news-toggle" id="news-toggle" role="button">
              show more <i class="fas fa-chevron-down"></i>
            </a>
            {%- endif %}
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
